/**********
GLOBAL STYLES – BOOTSTRAP OVERRIDES
***********/
body {
	background: #282828;
}
.container {
	width: 92%;
}
iframe {
	height: 700px;
}

/**********
CLASSES
**********/
.black {
	background: #211d1c;
}
.pink {
	background: #f9005b;
}
.green {
	background: #c9ff27;
}
.white {
	background: #fff;
}
.black-text {
	color: #211d1c;
}
.green-text {
	color: #c9ff27;
}
.white-text {
	color: #fff;
}
.card {
	color: #fff;
	padding: 15px 25px 10px;
	margin-top: 30px;
}
.card h3 {
	margin: 0 0 30px;
	font-size: 25px;
}
.card p {
	font-size: 12px;
}
.md {
	height: 220px;
}
.lg {
	height: 485px;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}


/**********
NAVBAR
**********/
.navbar.navbar-default {
	background: #282828;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #c9ff27;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #c3c3c3;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-size: 12px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #c9ff27;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #c3c3c3;
}
.navbar-nav>li {
	width: 15%;
}
.dropdown-menu {
	background: rgba(40,40,40,0.85);
	border: none;
	border-radius: 0;
}
.dropdown-menu>li>a {
	color: #c3c3c3;
}
.dropdown-menu>li>a:hover {
	color: #c3c3c3;
	background: transparent;
	border-left: 2px solid #c9ff27;
}
.nav.navbar-nav.navbar-right.social {
	width: 15%;
}
.nav.navbar-nav.navbar-right.social a {
	color: #f9005b;
	font-size: 18px;
}

/**********
******
***
INDEX
***
******
***********/
.banner .item {
	height: 700px;
}


/**********
JUMPSTERS INTRO
**********/
.jumpsters-intro {
	border-top: 3px solid #f9005b;
}
.about {
	color: #fff;
}


/**********
PRICING
**********/
.pricing {
	padding: 0 0 30px;
}
.pricing .time,
.pricing .price {
	font-size: 25px;
}
.pricing .time {
	overflow: hidden;
}
.pricing .right-border {
	border-right: 1px solid #c9ff27;
}


/**********
BENEFITS
**********/
.benefits {
	padding-bottom: 25px;
}
.benefits .item img {
	width: 100%;
}
.benefits .carousel-caption {
	left: 5%;
	right: 5%;
}
.benefits p {
	font-size: 12px;
}


/**********
SAFETY
**********/
.safety .safety-photo {
	background: url('../img/safety.png') no-repeat center center;
	background-size: cover;
}
.safety .card {
	margin-top: 0;
}


/**********
FAQ
**********/
.faq {
	padding: 35px 0;
	font-size: 10px;
}
.faq h3 {
	font-size: 37px;
	margin-bottom: 30px;
}
.faq p.green-text {
	margin-bottom: 0;
}


/**********
FOOTER
**********/
footer {
	padding: 30px 0 10px;
}
footer h6,
footer ul {
	font-size: 10px;
}
footer h6 {
	text-transform: uppercase;
}
footer ul {
	list-style: none;
	padding-left: 0;
}
footer p {
	font-size: 8px;
}
footer img {
	border-left: 1px solid #666666;
	padding-left: 10px;
}
footer .pink {
	height: 16px;
}


/**********
MEDIA QUERIES
**********/

@media screen and (max-width: 768px) {
	.navbar-nav>li {
		width: 100%;
	}
	.nav.navbar-nav.navbar-right.social {
		width: 10%;
	}
	.banner .item, iframe {
		height: 200px;
	}
	.container {
		width: 100%;
	}
	.pricing .right-border {
		border-right: none;
		border-bottom: 1px solid #c9ff27;
	}
	.benefits p {
		display: none;
	}
	.safety .md:nth-child(2) {
		height: auto;
	}
	footer h6,
	footer ul {
		text-align: center;
	}
	footer img {
		margin: 0 auto;
		padding-top: 10px;
		border-top: 1px solid #666666;
		border-left: none;
	}
}



/**********
******
***
PARTIES
***
******
***********/
.parties {
	padding: 10px 0;
	border-top: 3px solid #fff;
	color: #fff;
}
.parties-banner .fill {
	background: url('../img/parties-slider-1.jpg') no-repeat center center;
	background-size: cover;
	height: 700px;
}
.parties-banner .overlay {
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 2;
	top: 100px;
	right: 0;
	width: 20%;
	font-size: 18px;
	border-left: 2px solid #c9ff27;
	padding: 25px;
}



@media screen and (max-width: 768px) {
	.parties-banner .fill {
		height: 200px;
	}
	.parties-banner .overlay {
		top: 85px;
		width: 35%;
	}
}


.content {
	/*margin: 100px auto;*/
}
.accordion {
  background: #5ab2ca;
  width: 1200px;
  min-width: 950px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}
.tabs {
  display: inline-block;
  background-color: #6dc5dd;
  border-right: #5ab2ca 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
}
.tabs:hover {
  width: 450px;
}
.tabs:hover .social-links a:before {
  margin-left: -100px;
}
.tabs:hover .social-links a:after {
  margin-left: -5px;
}
.tabs .paragraph {
  position: relative;
  width: 360px;
  margin-left: 80px;
  padding: 50px 0 0 10px;
  height: 200px;
  background: #fff;
}
.tabs .paragraph h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.tabs .paragraph p {
  font-size: 0.88em;
  line-height: 1.5em;
  padding-right: 30px;
}

.social-links {
  display: block;
}
.social-links a {
  display: block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
.social-links a:before, .social-links a:after {
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}
.social-links a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.twitter-icon a:before, .twitter-icon a:after {
  content: '\f202';
}
.twitter-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhZGNmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiYzlmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7adcf9), color-stop(100%, #4bc9f5));
  background-image: -moz-linear-gradient(#7adcf9, #4bc9f5);
  background-image: -webkit-linear-gradient(#7adcf9, #4bc9f5);
  background-image: linear-gradient(#7adcf9, #4bc9f5);
}

.facebook-icon a:before, .facebook-icon a:after {
  content: '\f204';
}
.facebook-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0OGFiZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NWI5ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #548abf), color-stop(100%, #295b9e));
  background-image: -moz-linear-gradient(#548abf, #295b9e);
  background-image: -webkit-linear-gradient(#548abf, #295b9e);
  background-image: linear-gradient(#548abf, #295b9e);
}

.linkedin-icon a:before, .linkedin-icon a:after {
  content: '\f208';
}
.linkedin-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTljZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODNiNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a9cd), color-stop(100%, #0083b4));
  background-image: -moz-linear-gradient(#00a9cd, #0083b4);
  background-image: -webkit-linear-gradient(#00a9cd, #0083b4);
  background-image: linear-gradient(#00a9cd, #0083b4);
}

.insta-icon a:before, .insta-icon a:after {
  content: '\f215';
}
.insta-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmYzEyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5ODczMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7fc121), color-stop(100%, #298733));
  background-image: -moz-linear-gradient(#7fc121, #298733);
  background-image: -webkit-linear-gradient(#7fc121, #298733);
  background-image: linear-gradient(#7fc121, #298733);
}

.youtube-icon a:before, .youtube-icon a:after {
  content: '\f213';
}
.youtube-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmMTkyYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M0MTIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df192a), color-stop(100%, #c41222));
  background-image: -moz-linear-gradient(#df192a, #c41222);
  background-image: -webkit-linear-gradient(#df192a, #c41222);
  background-image: linear-gradient(#df192a, #c41222);
}

.tumblr-icon a:before, .tumblr-icon a:after {
  content: '\f214';
}
.tumblr-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4M2U1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyNTM3MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283e56), color-stop(100%, #325372));
  background-image: -moz-linear-gradient(#283e56, #325372);
  background-image: -webkit-linear-gradient(#283e56, #325372);
  background-image: linear-gradient(#283e56, #325372);
}

.dribbble-icon a:before, .dribbble-icon a:after {
  content: '\f201';
}
.dribbble-icon a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwM2E3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxODliOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e03a70), color-stop(100%, #f189b8));
  background-image: -moz-linear-gradient(#e03a70, #f189b8);
  background-image: -webkit-linear-gradient(#e03a70, #f189b8);
  background-image: linear-gradient(#e03a70, #f189b8);
}




.visible-phone{
@media (max-width: 480px) { more css }
}

.visible-desktop{
@media (min-width: 768px) { more css }
}


@media screen and (max-width: 768px) {
    .visible-desktop {
        display: none;
    }
}





/**********
******
***
ATTRACTIONS
***
******
***********/
.attractions {
	padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
	.attractions .card {
		height: 220px;
	}
}

/**********
******
***
EVENTS
***
******
***********/
.events-slider {
	border-bottom: 2px solid #c9ff27;
}
.events-slider .item,
.events-slider iframe {
	height: 430px;
}
.events .events-photo.one,
.events .events-photo.three {
	background: url('../img/safety.png') no-repeat center center;
}
.events .events-photo.two {
	background: url('../img/events.jpg') no-repeat center center;
}
.events .events-photo.one,
.events .events-photo.two,
.events .events-photo.three {
	background-size: cover;
}
.events .row.no-margin {
	margin-top: 30px;
}
@media screen and (max-width: 768px) {
	.events .events-photo.md {
		height: 220px;
	}
	.events .md {
		height: auto;
	}
	.events .card {
		margin-top: 0;
	}
}



/**********
******
***
GALLERY
***
******
***********/
.arena-banner {
	border-bottom: 2px solid #c9ff27;
}
.slam-dunk-banner,
.pared-banner,
.saltaerobics-banner {
	border-top: 2px solid #c9ff27;
	border-bottom: 2px solid #c9ff27;	
}
.fire-ball-banner,
.bolsa-banner,
.mini-banner,
.academia-banner {
	border-top: 2px solid #f9005b;
	border-bottom: 2px solid #f9005b;	
}
.arena-banner .item, .arena-banner iframe,
.fire-ball-banner .item, .fire-ball-banner iframe,
.slam-dunk-banner .item, .slam-dunk-banner iframe,
.bolsa-banner .item, .bolsa-banner iframe,
.pared-banner .item, .pared-banner iframe,
.mini-banner .item, .mini-banner iframe,
.saltaerobics-banner .item, .saltaerobics-banner iframe,
.academia-banner .item, .academia-banner iframe {
	height: 300px;
}